body {
    font-family: sans-serif;
     background-image: url("https://i.pinimg.com/736x/35/67/cf/3567cf0508cea683e4dec4bb12c121e9.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    text-align: center  ;
    
}

h1 {
    text-align: center;
}

article{

position: relative;


}


article:hover{

    background-color: red;
}

article{
    transition:.9s;
    

}

footer{

font: 25px;

}
  